extends layout

block content
  h1= title

  if console_list.length
    ul
      each console_model in console_list
        li
          a(href=console_model.url) #{console_model.name}
  else
    p There are no consoles.