extends layout

block content

  h1 #{title}: #{game.name}
  p= game.description

    p Do you really want to delete this Game?

    form(method='POST')
      input(type='hidden', name='gameid', value=game._id )

      button(type='submit') Delete
